<div id="home-container">
    <h4>Version Bilgileri</h4> <br>
    ANGULAR: 14.0.0 PRIMENG: 14.0.0 <br> <br>
    <hr>
    
    Bu poilerplate MIP ve ArkLicence projelerinde kullanılan front-end altyapısı ve tasarımı örnek alınarak hazırlanmıştır. <br>
    Tablolardaki query metodu ve çalışması ArkLicense projesi baz alınarak yapılmıştır.(örnek:customerRepository->getpaginationdata metodu) <br>
    Soldaki menü (sidebarcomponent) Arklicense uygulamamızdaki menü altyapısı (iki katmanlı, parent-child) kullanarak tasarlanmıştır , (statik ancak yorum satırları kaldırılarak dinamik çalışması sağlanabilir)
    <!-- <br><br> <hr> -->
</div>