<form [formGroup]="jobAdvertForm">
  <div class="row">
    <div>
      <label  class="form-label" translate>Position Name</label>
      <input type="text" formControlName="positionName" class="form-control" />
    </div>
  </div>
  <div>
    <label  class="form-label" translate>Qualification Level</label>
    <input type="text" formControlName="qualificationLevel" class="form-control" />
  </div>
  <div>
    <label  class="form-label" translate>Work Type</label>
    <input type="text" formControlName="workType" class="form-control" />
  </div>
  <div>
    <label  class="form-label" translate>Deadline</label>
    <input type="date" formControlName="deadline" class="form-control" />
  </div>
</form>
