<form [formGroup]="jobAdvertForm">
  <div class="row">
    <div class="form-label">
      <label for="display-text" translate>Position Name (*)</label>
      <input
        type="text"
        formControlName="positionName"
        class="form-control"
        [ngClass]="{
          'is-invalid': f.positionName.dirty && f.positionName.errors
        }"
      />
      <div
        *ngIf="f.positionName.dirty && f.positionName.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.positionName.errors.required" translate>
          Please enter the position name
        </div>
      </div>
    </div>
  </div>

  <div class="form-label">
    <label class="form-label" translate>Qualification Level (*)</label>
    <input
      type="text"
      formControlName="qualificationLevel"
      class="form-control"
      [ngClass]="{
        'is-invalid': f.qualificationLevel.dirty && f.qualificationLevel.errors
      }"
    />
    <div
      *ngIf="f.qualificationLevel.dirty && f.qualificationLevel.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.qualificationLevel.errors.required" translate>
        Please enter the qualification level
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <div class="form-label">
        <label class="form-label" translate>Department (*)</label>
        <div class="input-group">
          <div class="input-group-append">
            <app-dropdown
              *ngIf="departmentDropdownOptions"
              [options]="departmentDropdownOptions"
            >
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="form-label">
        <label for="type" class="form-label" translate
          >Work Place Type (*)</label
        >
        <div class="input-group">
          <div class="input-group-append">
            <app-dropdown
              *ngIf="workPlaceTypeDropdownOptions"
              [options]="workPlaceTypeDropdownOptions"
            >
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="form-label">
        <label class="form-label" translate>Work Time Type (*)</label>
        <div class="input-group">
          <div class="input-group-append">
            <app-dropdown
              *ngIf="workTimeTypeDropdownOptions"
              [options]="workTimeTypeDropdownOptions"
            >
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-label">
    <label class="form-label" translate>Description (*)</label>
    <textarea
      type="text"
      formControlName="description"
      class="form-control"
      [ngClass]="{
        'is-invalid': f.description.dirty && f.description.errors
      }"
    ></textarea>
    <div
      *ngIf="f.description.dirty && f.description.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.description.errors.required" translate>
        Please enter the description
      </div>
    </div>
  </div>

  <div class="form-label" style="margin-top: 20px">
    <label class="form-label" translate>deadline (*)</label>
    <input
      type="date"
      formControlName="deadline"
      class="form-control"
      dateFormat="yy-mm-dd"
      [ngClass]="{
        'is-invalid': f.deadline.dirty && f.deadline.errors
      }"
    />
    <div *ngIf="f.deadline.dirty && f.deadline.errors" class="invalid-feedback">
      <div *ngIf="f.deadline.errors.required" translate>
        Please enter the deadline
      </div>
    </div>
  </div>
</form>
