.p-datatable.p-datatable-scrollable {
    width: 100%;
    display: grid;
}

.p-datatable-auto-layout>.p-datatable-wrapper>table,
.p-datatable-responsive-scroll>.p-datatable-wrapper>table {
    display: table;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td>span {
    word-break: break-word;
}

.p-datatable-wrapper {
    border: 1px solid #e9ecef;
}

.p-datatable-scrollable .p-datatable-tbody>tr>td,
.p-datatable-scrollable .p-datatable-tfoot>tr>td,
.p-datatable-scrollable .p-datatable-thead>tr>th {
    flex: unset !important;
}

.p-column-filter > :last-child:not(.custom) {
    display: none;
}

.p-datatable{
    overflow-x:auto;
}

.p-datatable.dashboard-table {
    max-height: 12rem !important;
    overflow-y: auto !important;
    overflow-x:hidden;
}