<html>
  <body class="text-center" >
    <form class="form-signin" [formGroup]="registerForm">
      <br />
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <br /><br />
      <span class="p-float-label" >
        <input
          class="form-control"
          type="text"
          pInputText
          formControlName="firstName"
        />
        <label for="float-input">First Name</label>
      </span>
      <span class="p-float-label" style="margin-top: 25px">
        <input
          class="form-control"
          type="text"
          pInputText
          formControlName="lastName"
        />
        <label for="float-input">Last Name</label>
      </span>
      <span class="p-float-label" style="margin-top: 25px;">
        <input
          class="form-control"
          type="email"
          pInputText
          formControlName="email"
        />
        <label for="float-input">Email</label>
      </span>
      <span class="p-float-label" style="margin-top: 25px; margin-bottom: 25px">
        <input
          class="form-control"
          type="password"
          pInputText
          formControlName="password"
        />
        <label for="float-input">Password</label>
      </span>
      <button
        style="width: 100%; margin-bottom: 45px;"
        pButton
        pRipple
        type="button"
        label=" Sign in"
        class="p-button-raised"
        (click)="register()"
      ></button>
    </form>
  </body>
</html>
